h4 Professional
p I started back in 2005 as a trainee. At that time I was clueless about Agile manifesto.
 | I was trained in processes and procedures
 | by the big company I was working for and the University I was attending.
p Only when I was ending my B.S.
 | I begin to feel empty and explore more (working while you are studying keeps you busy).
 | That exploration leads me to "Object Thinking" by David West.
 | Then I realized I was playing for the wrong team.
 | Instead of climbing the bureaucratic ladder to become a Manager.
 | I'd rather pursuit a technical career.
p  Had the opportunity to work in large companies and challenging projects. Recently exposed to Silicon Valley.
 | And now certain about my past decision paid off.
br
a(href='https://www.linkedin.com/in/fdiazaguirre/') My Linkedin
br
a(href='https://github.com/fdiazaguirre') My Github

h4 Personal
p I meditate on regular basis. Also enjoy practicing Kapap, Kali and BJJ.
 | Other than that I love the nature and give back to the community.
 | I'm a lucky guy, therefore I want to share with those less fortunate.
 | I mention this cause in order to be more creative we need to clear our minds.
 | There must to be a balance.

br
figure
 img(src='http://res.cloudinary.com/hxn6e9fg6/image/upload/v1495803250/10201677431232056_t9hi4c.jpg' alt='zen')
 figcaption Google mindfulness program
