p I started in 2005 as a trainee. Back then I was clueless about Agile manifesto. I was trained in process and procedures
 | by the big company I was working for and the University I was attending. Only when I was ending my B.S.
 | I begin to feel empty and explore more (working while you are studying keeps you busy).
 | That exploration leads me to "Object Thinking" by David West. Then I realized I was playing for the wrong team.
 | Instead of climbing the bureaucratic ladder to become a Manager.
 | I 'd rather pursuit a technical career.
 | Had the opportunity to work in large companies and challenging projects. Recently exposed to Silicon Valley.
 | And now certain about my past decision paid off.
