body
    nav
        ul(class='main-menu')
            li(class='main-option')
              a(class='option-text' href='/home') Home
            li(class='main-option')
              a(class='option-text' href='/cs') Computer Science
                ul(class='nested-menu')
                    li
                        a(id='complexity-link' class='option-text' href='/cs/ts-complexity') Time & Space Complexity
                    li
                        a(id='ds-link' class='option-text' href='/cs/ds') Data Structures
                    li
                        a(id='algo-link' class='option-text' href='/cs/algo') Algorithms
                    li
                        a(id='tech-interviews-link' class='option-text' href='/cs/interviews') Technical Interviews
            li(class='main-option')
                a(class='option-text' href="/tech") Technology
                    ul(class='nested-menu')
                        li
                            a(class='option-text' href='/tech/oop') OOP
                        li
                            a(class='option-text' href='/tech/design') Design
                        li
                            a(class='option-text' href='/tech/dist-comp') Distributed Computing
                        li
                            a(class='option-text' href='/tech/fwks') Frameworks
                        li
                            a(class='option-text' href='/tech/testing') Testing
                        li
                            a(class='option-text' href='/tech/deployment') Deployment
            li(class='main-option')
                a(class='option-text' href="/soft") Soft Skills
                    ul(class='nested-menu')
                        li
                            a(class='option-text' href='/soft/agile') Agile
                        li
                            a(class='option-text' href='/soft/practices') Scrum or XP
                        li
                            a(class='option-text' href='/soft/tt') Techniques & Tools
                        li
                            a(class='option-text' href='/soft/job') Applying for a Job
            li(class='main-option')
                a(id='me-link' class='option-text' href='/about') About Me
